/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */


@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat-v31-latin-100.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v31-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v31-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v31-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v31-latin-800.woff2') format('woff2');
}

:root {
    --color-white: #cbd5e1;
    --color-primary: #FF2E63;
    --color-secondary: #a91cd4;
    --gradient-primary: linear-gradient(135deg, #ff1cb6 0%, #FF2E63 100%);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('./images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--color-white);
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

h2 {
    color: #ffffff;
}

header, section {
    padding: 2rem;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

nav ul li {
    display: flex;
}

nav ul a {
    position: relative;
    margin-inline: 1.2rem;
    font-weight: 600;
    font-size: 16px;
}

nav ul a svg {
    display: none;
}

nav ul a::after {  
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 0px;
    height: 2px;
    background: var(--color-primary);
    transition: width .25s ease-in-out;
}

nav ul a:hover::after {
    width: 100%;
}

nav ul a:hover {
    color: #ffffff;
}

.h3 {
    font-size: 1.2rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all .25s ease-in-out;
    text-decoration: none;
}

.btn-primary {
    background: var(--gradient-primary);
    color: #fff;
    box-shadow: 0 0 20px rgba(137, 24, 141, 0.3);
}

.btn-primary:hover, .btn-primary-outline:hover {
    transform: translateY(-2px);
}

.btn-primary:hover {
    box-shadow: 0 0 30px #83188d80;
}

.btn-primary-outline {
    border: 3px solid #ff1cb6;
    background-color: transparent;
    color: #ffffff;
}

.border-primary {
    border: 1px solid #ffffff29;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.text-white {
    color: #ffffff;
}

.text-primary {
    color: var(--color-primary) !important;
}

.background-blur, .background-blur-lg {
    backdrop-filter: blur(20px);
    background: #ffffff0f;
}

.code-arrow {
    font-size: 2rem;
    position: absolute;
    top: 0%;
    transform: translateY(-20%);
    margin: 0;
    line-height: 1;
    white-space: nowrap;
    color: var(--color-primary);
}

.list-social li {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.list-social li:hover {
    transition: all .25s ease-in-out;
    background-color: #d593ed83;
}

.list-social a {
    display: flex;;
}

.list-languages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.list-languages li {
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    border-radius: 50px;
    border: 1px solid var(--color-secondary);
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 800;
    color: var(--color-secondary);
}

.list-languages li:hover {
    background-color: var(--color-secondary);
    color: #ffffff;
}

.tab-content {
    display: none;
    opacity: 0;
    animation: fadeUp 0.6s ease forwards; 
}

.tab-content.active {
    display: grid;
}

.tab-btn {
    transition: all 0.3s ease;
    opacity: 0.6;
}

.tab-btn:hover {
    opacity: 0.8;
}

.tab-content {
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(calc(20% - 1.5rem), 1fr));
}

.tab-btn.active {
    opacity: 1;
    transform: scale(1.05);
    background-color: var(--color-secondary) !important;
    color: white !important;
    border-color: var(--color-secondary) !important;
    box-shadow: 0 0 20px rgba(137, 24, 141, 0.3);
}

.tab-content > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 1rem;
    min-height: 100px;
    cursor: pointer;
}

.tab-content > div svg {
    margin-bottom: 0.3rem;
}

.tab-content > div:hover {
    border: 1px solid #a91cd445;
    border-radius: 15px;
    box-shadow: 1px 3px 9px 3px #00000024;
}

.tab-content > div:hover svg {
    transform: scale(1.15);
    transition: all 0.3s ease;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border-color: #ffffff3c !important;
}

[class*="-scroll"] {
    opacity: 0;
}

.blink {
    animation: blinding 0.8s ease infinite;
}

@keyframes blinding {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

.animate-fade {
    opacity: 0;
    animation: fade 0.8s ease-out forwards;
}

.animate-fade-up {
    opacity: 0;
    animation: fadeUp 0.8s ease-out forwards;
}

.animate-fade-right {
    opacity: 0;
    animation: fadeRight 0.8s ease-out forwards;
}

.animate-fade-left {
    opacity: 0;
    animation: fadeLeft 0.8s ease-out forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @media screen and (max-width: 786px) {
flex: 7 1 400px; */

@media screen and (max-width: 786px) {
    nav div.d-flex div:has(.code-arrow) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    body, #study p {
        font-size: 14px;
    }

    #study h4 {
        padding-top: 2rem;
    }

    .h3 {
        font-size: 1.1rem;
    }

    nav > div {
        margin: 1rem auto !important;
        padding: 0.5rem !important;
    }

    nav > div, nav > div > div {
        max-width: 95vw !important;
    }

    nav ul {
        overflow: auto;
    }

    nav ul li a {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 0.3rem;
        margin-inline: 0.8rem;
    }

    nav ul a svg {
        display: flex;
    }

    nav ul a {
        font-size: 0.6rem;
    }

    header h1 {
        font-size: 2rem !important;
    }

    section h2, header h2 {
        font-size: 1.2rem;
    }

    header h2 {
        font-weight: 500;
    }

    .row-button {
        flex-direction: column;
    }

    .background-blur-lg {
        background-color: transparent;
    }

    .border-primary {
        bordeR: none
    }

    .text-experience {
        padding-right: 0 !important;
    }

    .list-languages li {
        font-size: 0.6rem;
    }

    .tab-wrapper {
        display: flex !important;
        flex-direction: column;
    }

    .btn {
        font-size: 1rem;
    }

    .tab-content {
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(calc(30% - 1.5rem), 1fr));
    }

    .tab-btn {
        width: 100%;
        justify-content: center;
    }

    section#contact > div {
        padding: 1rem !important;
    }

    .tab-btn {
        padding-inline: 1rem !important;
    }
}